<div class="text-center myContainer">
  <main class="form-signin">
    <form (submit)="signin(username.value,password.value,name.value,surname.value,mail.value,img.value)">
      <img class="mb-4" src="assets/img/logo.png" alt="Forza quattro logo" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Create your player</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="username" #username required>
        <label for="floatingInput">Username</label>
      </div>
       <div class="form-floating mt-1">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" #password required>
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating mt-1">
        <input type="text" class="form-control" id="floatingName" placeholder="Name" #name required>
        <label for="floatingName">Name</label>
      </div>
      <div class="form-floating mt-1">
        <input type="text" class="form-control" id="floatingSurname" placeholder="Surname" #surname required>
        <label for="floatingSurname">Surname</label>
      </div>
      <div class="form-floating mt-1">
        <input type="mail" class="form-control" id="floatingMail" placeholder="Mail" #mail required>
        <label for="floatingMail">Mail</label>
      </div>
      <div class="form-floating mt-1 mb-3">
        <input type="text" class="form-control" id="floatingImg" placeholder="ImgURL" #img required>
        <label for="floatingImg">Img URL</label>
      </div>
      

      <button type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
      <div *ngIf="errmessage" class="alert alert-danger" role="alert">
        Login error: {{errmessage}}
      </div>

      <p class="mt-5 mb-3 text-muted">Mark Otto, Jacob Thornton, and Bootstrap contributors &copy; 2017–2021</p>
    </form>
  </main>
</div>
