<div class="myNav bg-dark text-white">
  <nav class="navbar navbar-dark text-white bg-dark">
    <div class="container">
      <div class="col-8">
        <span>Forza Quattro</span>
      </div>
      <div class="col-4 nav justify-content-end">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarToggleExternalContent">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </nav>
  <div class="collapse show pt-0" id="navbarToggleExternalContent">
    <div class="p-1 pt-0">
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <button (click)="navigate('home')" class="nav-link text-white w-100 text-start">
            <mat-icon class="customIcon" color="primary" [ngStyle]="{'color':'white'}">home</mat-icon>
            Home
          </button>
        </li>

        <li class="nav-item" *ngIf="username">
          <!--Open the modal(modalNot)  <span mat-raised-button >Notification</span>-->
          <button class="nav-link text-white w-100 text-start" (click)="getNotification(true, undefined)"
            id="notification" data-bs-toggle="modal" data-bs-target="#modalNot">
            <mat-icon class="customIcon" color="primary" matBadgeColor="accent" [matBadge]="badgeContent" matBadgePosition="above before"
            matBadgeOverlap="true" [matBadgeHidden]="hideMatBadge" matBadgeSize="medium" [ngStyle]="{'color':'white'}">notifications
          </mat-icon>
          <span mat-raised-button> Notification</span>
          </button>
        </li>
        <!--Allow the user to dipslay the message from all moderator-->
        <li class="nav-item" *ngIf="username">
          <!--Open the modal(modalNot)  <span mat-raised-button >Notification</span>-->
          <button class="nav-link text-white w-100 text-start" style="text-overflow: ellipsis;" (click)="getModeratorList()" id="notification"
            data-bs-toggle="modal" data-bs-target="#modalMod">
            <mat-icon class="customIcon" color="primary" matBadgeColor="accent" [matBadge]="badgeContMod" matBadgePosition="above before"
            matBadgeOverlap="true" [matBadgeHidden]="hideBadgeMod" matBadgeSize="medium" [ngStyle]="{'color':'white'}">chat
          </mat-icon>
          <span mat-raised-button> Moderator Message</span>
          </button>
        </li>

        <li *ngIf="has_moderator_role()" class="nav-item">
          <button (click)="navigate('new-mod')" class="nav-link text-white w-100 text-start">
            <mat-icon class="customIcon" color="primary" [ngStyle]="{'color':'white'}">person_add</mat-icon>
            Add new mod
          </button>
        </li>

        <li class="nav-item" *ngIf="has_moderator_role()">
          <button class="nav-link text-white w-100 text-start" (click)="navigate('user-deletion')" id="allUs">
            <mat-icon class="customIcon" color="primary" matBadgeColor="accent" [matBadge]="badgeAllUs" matBadgePosition="above before"
            matBadgeOverlap="true" [matBadgeHidden]="hideBadgeAll" matBadgeSize="medium" [ngStyle]="{'color':'white'}">people
          </mat-icon>
          <span mat-raised-button> All User</span>
          </button>
        </li>
      </ul>
      <hr>


      <!--<p *ngIf="msg" ()="toastN('salve')"></p><div class="toast-header">
          <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body">
          {{msg}}
        </div>
      </div>-->

      <!-- OFFCANVAS
      <button class="btn btn-primary" id="friendList" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#friendListCanvas" aria-controls="friendListCanvas" width="32" height="32">FriendList</button>

        <div class="offcanvas offcanvas-end text-black"  data-bs-backdrop="true" data-bs-scroll="true" id="friendListCanvas" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Offcanvas right</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <label>sADLASDLASLDASLDASL</label>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalReq">
              Launch static backdrop modal
            </button>
            
            <div class="modal fade" id="modalReq" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalReqLabel" aria-hidden="false">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalReqLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="usernameFriend" placeholder="usernameAdd" #usernameAdd required>
                      <label for="usernameFriend">Username</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" (click)="addFriend(usernameAdd.value, 'friendRequest')" class="btn btn-primary">Send the request</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->

      <!--ModalNotification Display the list of all the notification except the randomMatchmaking notification-->
      <div class="modal fade text-black" id="modalNot" data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalReqLabel" aria-hidden="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalReqLabel">NOTIFICATION</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                  *ngFor='let lnotification of notification'>
                  {{lnotification.msg}}
                  <span class="align-items-right">
                    <button *ngIf="lnotification.type == 'friendRequest'" type="button" class="friendListBtn"
                      data-bs-dismiss="modal" (click)="addFriendToFriendlist(lnotification.sender,true)"
                      id="btnBlock"><span>
                        <mat-icon>done_outline</mat-icon>
                      </span></button>
                    <button *ngIf="lnotification.type == 'friendRequest'" type="button" class="friendListBtn"
                      data-bs-dismiss="modal" (click)="addFriendToFriendlist(lnotification.sender,false)"
                      id="btnDel"><span>
                        <mat-icon>not_interested</mat-icon>
                      </span></button>
                    <button *ngIf="lnotification.type == 'friendlyMatchmaking'" type="button" class="friendListBtn"
                      data-bs-dismiss="modal" (click)="acceptGamerequest(lnotification.sender)" id="btnBlock"><span>
                        <mat-icon>done_outline</mat-icon>
                      </span></button>
                    <button *ngIf="lnotification.type == 'friendlyMatchmaking'" type="button" class="friendListBtn"
                      data-bs-dismiss="modal" (click)="denyGamerequest(lnotification.sender)" id="btnDel"><span>
                        <mat-icon>not_interested</mat-icon>
                      </span></button>
                  </span>
                </li>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!--ModalNotification-->

      <!--ModalModerator Display the list of all the notification except the randomMatchmaking notification-->
      <div class="modal fade text-black" id="modalMod" data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalReqLabel" aria-hidden="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalReqLabel">NOTIFICATION</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                  *ngFor='let mod of modlist'>
                  {{mod.username}}
                  <span class="align-items-right">
                    <button type="button" class="friendListBtn mr-6" data-bs-dismiss="modal" (click)="readMessage(username,mod.username,true);getInpendingMsgMod();navigate('mod-chat/'+mod.username+'')">
                      <span>
                        <!--matBadgeColor="accent" matBadgeSize="small" matBadgePosition="above after" matBadgeOverlap="true"-->
                        <mat-icon [matBadge]="mod.badgeNum" matBadgeColor="accent" matBadgeSize="small"
                          matBadgePosition="above after" matBadgeOverlap="true" [matBadgeHidden]="mod.badgeHidden"
                          [ngStyle]="{'color':'white'} ">chat</mat-icon>
                      </span>
                    </button>
                  </span>
                </li>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!--ModalModerator-->

      <div *ngIf="username" class="dropdown ms-3 profileIcon mb-3">
        <a href="#" class="align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown">
          <img *ngIf="!has_nonregmod_role()" src="{{avatarImgURL}}" alt="" width="32" height="32"
            class="rounded-circle me-2">
          <strong>{{username}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><button class="dropdown-item" (click)="navigate('profile')">Profile</button></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><button class="dropdown-item" (click)="navigate('logout')">Sign out</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- OFFCANVAS -->
<button *ngIf="username" class="btn btn-primary" (click)="getFriendlist()" id="friendList" type="button"
  data-bs-toggle="offcanvas" data-bs-target="#friendListCanvas" aria-controls="friendListCanvas" width="32" height="32">
  <mat-icon color="primary" matBadgeColor="accent" [matBadge]="badgeContentMsg" matBadgePosition="above after"
    matBadgeOverlap="true" [matBadgeHidden]="hideMatBadgeMsg" [ngStyle]="{'color':'white'}">notifications
  </mat-icon>FriendList
</button>

<div class="offcanvas offcanvas-end text-black" data-bs-backdrop="true" data-bs-scroll="true" id="friendListCanvas"
  aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">FriendList</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor='let lfriend of friendlist'>
        {{lfriend.username}}
        <!--
        <span class="align-items-bottom">
        <span class="dot bg-dark" ></span>
      </span> (click)="readMessage(username,lfriend.username);navigate('friend-chat/'+lfriend.username+'')" routerLink="/friend-chat/{{lfriend.username}}" routerLinkActive="active-link"-->
        <span class="align-items-right">
          <button type="button" class="friendListBtn mr-2" data-bs-dismiss="modal"
            (click)="deleteFriend(lfriend.username)" id="btnDel"><span>
              <mat-icon>close</mat-icon>
            </span></button>
          <button type="button" class="friendListBtn mr-6" data-bs-dismiss="modal"
            (click)="readMessage(username,lfriend.username,false);getInpendinMsg();navigate('friend-chat/'+lfriend.username+'')">
            <span>
              <!--matBadgeColor="accent" matBadgeSize="small" matBadgePosition="above after" matBadgeOverlap="true"-->
              <mat-icon [matBadge]="lfriend.badgeNum" matBadgeColor="accent" matBadgeSize="small"
                matBadgePosition="above after" matBadgeOverlap="true" [matBadgeHidden]="lfriend.badgeHidden"
                [ngStyle]="{'color':'white'} ">chat</mat-icon>
            </span>
          </button>
          <button type="button" class="friendListBtn mr-2" data-bs-dismiss="modal"
            (click)="navigate('user-stats/'+lfriend.username+'')"><span>
              <mat-icon>equalizer</mat-icon>
            </span></button>
          <button type="button" class="friendListBtn" data-bs-dismiss="modal"
            (click)="blockUnblock(lfriend.username,lfriend.isBlocked)" id="btnBlock"><span><i
                class="{{lfriend.isBlocked}}"></i></span></button>
        </span>
        <span class="on-off position-absolute translate-middle border border-light rounded-circle"
          [ngStyle]="{'background-color': lfriend.color}">
          <span class="visually-hidden">New alerts</span>
        </span>
      </li>
    </div>

    <button type="button" class="btn btn-primary mx-auto" id="reqButton" data-bs-toggle="modal" (click)="get_userlist()"
      data-bs-target="#modalReq">
      ADD FRIEND
    </button>

  </div>
</div>
<!-- Modal AddFriend -->
<div class="modal fade" id="modalReq" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="modalReqLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalReqLabel">ADD A NEW FRIEND</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="setErr()"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating">
          <input type="text" class="form-control" id="usernameFriend" placeholder="usernameAdd" #usernameAdd required
            [value]="friendUsername">
          <br>
          <div class="list-group" id="userList">
            <li
              class="list-group-item list-group-item-action list-group-item-info d-flex justify-content-between align-items-center"
              (click)="setName(user.username)" *ngFor='let user of list'>{{user.username}}</li>
          </div>
          <label for="usernameFriend">Username</label>
        </div>
        <div *ngIf="errMsg" class="alert alert-danger" role="alert">
          Send Request error: {{errMsg}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="setErr()">Close</button>
        <button type="button" (click)="addFriend(usernameAdd.value, 'friendRequest')" (click)="usernameAdd.value = ''"
          class="btn btn-primary" >Send
          the request</button>
      </div>
    </div>
  </div>
</div>
<!--Modal-->