<div class="myNav bg-dark text-white">
  <nav class="navbar navbar-dark text-white bg-dark">
    <div class="container">
      <div class="col-8">
        <span>Forza Quattro</span>
      </div>
      <div class="col-4 nav justify-content-end">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarToggleExternalContent">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </nav>
  <div class="collapse show pt-0" id="navbarToggleExternalContent">
    <div class="p-1 pt-0">
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <button (click)="navigate('home')" class="nav-link text-white w-100 text-start">
            Home
          </button>
        </li>

        <li class="nav-item" *ngIf="username">
          <!--Open the modal(modalNot)  <span mat-raised-button >Notification</span>-->
          <button class="nav-link text-white w-100 text-start" (click)="getNotification(true, undefined)"
            id="notification" data-bs-toggle="modal" data-bs-target="#modalNot">
            <span mat-raised-button>Notification</span>
            <mat-icon color="primary" matBadgeColor="accent" [matBadge]="badgeContent" matBadgePosition="above after"
              matBadgeOverlap="true" [matBadgeHidden]="hideMatBadge">notifications</mat-icon>
          </button>
        </li>

        <li *ngIf="has_moderator_role()" class="nav-item">
          <button (click)="navigate('new-mod')" class="nav-link text-white w-100 text-start">
            Add new mod
          </button>
        </li>

        <li class="nav-item" *ngIf="has_moderator_role()">
          <button class="nav-link text-white w-100 text-start" (click)="navigate('user-deletion')">
            Delete user
          </button>
        </li>
      </ul>
      <hr>


      <!--<p *ngIf="msg" ()="toastN('salve')"></p><div class="toast-header">
          <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body">
          {{msg}}
        </div>
      </div>-->

      <!-- OFFCANVAS
      <button class="btn btn-primary" id="friendList" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#friendListCanvas" aria-controls="friendListCanvas" width="32" height="32">FriendList</button>

        <div class="offcanvas offcanvas-end text-black"  data-bs-backdrop="true" data-bs-scroll="true" id="friendListCanvas" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Offcanvas right</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <label>sADLASDLASLDASLDASL</label>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalReq">
              Launch static backdrop modal
            </button>
            
            <div class="modal fade" id="modalReq" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalReqLabel" aria-hidden="false">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalReqLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="usernameFriend" placeholder="usernameAdd" #usernameAdd required>
                      <label for="usernameFriend">Username</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" (click)="addFriend(usernameAdd.value, 'friendRequest')" class="btn btn-primary">Send the request</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->

      <!--ModalNotification Display the list of all the notification except the randomMatchmaking notification-->
      <div class="modal fade text-black" id="modalNot" data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modalReqLabel" aria-hidden="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalReqLabel">NOTIFICATION</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                  *ngFor='let lnotification of notification'>
                  <p class="align-items-center">{{lnotification.type}} from {{lnotification.sender}} </p>
                  <button *ngIf="lnotification.type == 'friendRequest'" type="button" class=" btn btn-warning mybtn"
                    data-bs-dismiss="modal" (click)="addFriendToFriendlist(lnotification.sender,true)">Accept</button>
                  <button *ngIf="lnotification.type == 'friendRequest'" type="button" class=" btn btn-warning mybtn"
                    data-bs-dismiss="modal" (click)="addFriendToFriendlist(lnotification.sender,false)">Reject</button>
                  <button *ngIf="lnotification.type == 'friendlyMatchmaking'" type="button"
                    class=" btn btn-warning mybtn" data-bs-dismiss="modal">Accept</button>
                  <button *ngIf="lnotification.type == 'friendlyMatchmaking'" type="button"
                    class=" btn btn-warning mybtn" data-bs-dismiss="modal">Reject</button>
                </li>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!--ModalNotification-->

      <div *ngIf="username" class="dropdown ms-3 profileIcon mb-3">
        <a href="#" class="align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown">
          <img *ngIf="!has_nonregmod_role()" src="{{avatarImgURL}}" alt="" width="32" height="32"
            class="rounded-circle me-2">
          <strong>{{username}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><button class="dropdown-item" (click)="navigate('profile')">Profile</button></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><button class="dropdown-item" (click)="navigate('logout')">Sign out</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- OFFCANVAS -->
<button *ngIf="username" class="btn btn-primary" (click)="getFriendlist()" id="friendList" type="button"
  data-bs-toggle="offcanvas" data-bs-target="#friendListCanvas" aria-controls="friendListCanvas" width="32"
  height="32">FriendList</button>

<div class="offcanvas offcanvas-end text-black" data-bs-backdrop="true" data-bs-scroll="true" id="friendListCanvas"
  aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">FriendList</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor='let lfriend of friendlist'>
        {{lfriend.username}}
        <button type="button" class=" btn btn-warning mybtn" data-bs-dismiss="modal"
          (click)="deleteFriend(lfriend.username)">Delete</button>
        <button type="button" class=" btn btn-warning mybtn" data-bs-dismiss="modal">Chat</button>
        <button type="button" class=" btn btn-warning mybtn" data-bs-dismiss="modal" (click)="navigate('friend-stats/'+lfriend.username+'')">Stats</button>
        <button type="button" class=" btn btn-warning mybtn" data-bs-dismiss="modal"
          (click)="blockUnblock(lfriend.username,lfriend.isBlocked)">{{lfriend.isBlocked}}</button>
      </li>
    </div>
    <button type="button" class="btn btn-primary" id="reqButton" data-bs-toggle="modal" data-bs-target="#modalReq">
      ADD FRIEND
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modalReq" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="modalReqLabel" aria-hidden="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalReqLabel">ADD A NEW FRIEND</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating">
              <input type="text" class="form-control" id="usernameFriend" placeholder="usernameAdd" #usernameAdd
                required>
              <label for="usernameFriend">Username</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" (click)="addFriend(usernameAdd.value, 'friendRequest')"
              (click)="usernameAdd.value = ''" class="btn btn-primary">Send
              the request</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>