/* .collapse{
  padding-top: 0!important;
} */

/* .navbar{
  padding-bottom: 0;
} */

@media screen and (min-width: 600px) {
  .myNav{
    height: 100vh;
  }
  .navbar-toggler{
    display: none;
  }
  .profileIcon{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
