<div class="myNav bg-dark text-white">
  <nav class="navbar navbar-dark text-white bg-dark">
    <div class="container">
      <div class="col-8">
        <span>Forza Quattro</span>
      </div>
      <div class="col-4 nav justify-content-end">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarToggleExternalContent">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </nav>
  <div class="collapse show pt-0" id="navbarToggleExternalContent">
    <div class="p-1 pt-0">
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <button (click)="navigate('home')" class="nav-link text-white">
            Home
          </button>
        </li>

        <li class="nav-item">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="username" #username required>
            <label for="floatingInput">Username</label>
          </div>
          <button (click)="addFriend(username.value, 'friendRequest')" class="nav-link text-white">
            Notification
          </button>
        </li>

        <li *ngIf="has_moderator_role()" class="nav-item">
          <button (click)="navigate('new-mod')" class="nav-link text-white">
            Add new mod
          </button>
        </li>

        <li class="nav-item" *ngIf="has_moderator_role()">
          <button class="nav-link text-white" (click)="navigate('user-deletion')">
            Delete user
          </button>
        </li>
      </ul>
      <hr>

      <div *ngIf="msg" class="toast show">
        <div class="toast-header">
          <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body">
          {{msg}}
        </div>
      </div>

      <div *ngIf="username"  class="dropdown ms-3 profileIcon mb-3">
        <a href="#" class="align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown">
          <img *ngIf="!has_nonregmod_role()" src="{{avatarImgURL}}" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>{{username}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><button class="dropdown-item" (click)="navigate('profile')">Profile</button></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><button class="dropdown-item" (click)="navigate('logout')">Sign out</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>