
<div class=" myContainer">
  <button type="button" id="openstats" [hidden]="true" class="w-100 btn btn-warning btn-lg mybtn" data-bs-toggle="modal" data-bs-target="#w-stats"></button>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngFor="let alert of alerts">
      {{alert.message }}
      <button type="button" class="btn-close btn-close-black" aria-label="Close" (click)="close(alert)"></button>
    </div>
  <h1 class="h3 mb-3 fw-normal">{{txtturno}}</h1>
  <div class="enable" [style.pointer-events]="visibility"[style.opacity]="opacity">
    <div class="gameboard">
    
      <table class="table">
        <tbody>
          <tr *ngFor='let row of game'>
            <td *ngFor='let column of row;let i=index;'>
              <div class="griglia" (click)="makemove(i)">
                <span class="gettone"style="background-color:red;" *ngIf="isred(column)"></span>
                <span class="gettone"style="background-color:gold;" *ngIf="isyellow(column)"></span> 
                <span class="gettone"style="background-color:trasparent;"*ngIf="isempty(column)"></span>    
                </div>
              <!--<img src="assets/img/rvuoto.png" alt="Forza quattro logo" width="100px" height="100px">-->
              
            </td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
</div>
<div class="modal fade" id="w-stats" tabindex="-1" data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel1" >{{win}}</h5>
      </div>
      <p class="text-center fs-2">Now your rank is: {{rank}}</p>
      <div class="dot-flashing" style="align-self: center;"></div>
      <div class="modal-footer">
        <button type="button" class=" btn btn-danger btn-sm mybtn" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>


