<div class="text-center myContainer p-0">
  <div class="homepagecontainer">
    <img class="mb-4" src="assets/img/logo.png" alt="Forza quattro logo" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Choose a player from list to delete it</h1>
    <br>
    
    <div class="scrollable" tabindex="0">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor='let user of userList'>
          {{user.username}}
          <span class="align-items-right">
          <button type="button" class="friendListBtn mr-6" *ngIf="user.roles != 'MODERATOR' || user.username == myUsername" (click)="delete(user.username)" id="btnDel"><span>
            <mat-icon>close</mat-icon>
          </span></button>
          <button type="button" class="friendListBtn mr-6" 
          (click)="readMessage(myUsername,user.username);getInpendinMsg();navigate('mod-chat/'+user.username+'')">
            <span>
              <!--matBadgeColor="accent" matBadgeSize="small" matBadgePosition="above after" matBadgeOverlap="true"-->
              <mat-icon   [matBadge]="user.badgeNum"
              matBadgeColor="accent" matBadgeSize="small" matBadgePosition="above after" matBadgeOverlap="true"
              [matBadgeHidden]="user.badgeHidden" [ngStyle]="{'color':'white'} ">chat</mat-icon>
            </span>
          </button>
          <button type="button" class="friendListBtn mr-2"
            (click)="navigate('user-stats/'+user.username+'')"><span>
              <mat-icon>equalizer</mat-icon>
            </span></button>
          </span>
        </li>
      </ul>
    </div>
    <div class="alert alert-primary mt-1" *ngIf="error">
      {{error}}
    </div>
  </div>
</div>