.row{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.sidebar{
  margin:0;
}

.myContainer{
  height: 100%;
}

.adaptView{
  height: 100vh!important;
  background-color: #f5f5f5!important;
}

.friendListBtn .mat-badge-content{
  transform: translate(-4px, 16px)
}